@font-face {
  font-family: 'Pixeleum';
  src: local('Pixeleum'),
       url('./Fonts/pixeleum-48.ttf') format('truetype')
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
