.pixel {
    position: relative;
    display: block;
    width: 150px;
    height: 40px;
    font-family: 'Pixeleum';
    font-size: 1.2em;
    color: white;
    border: 0;
    z-index: 1;
    margin: 15px 20px;
    cursor: pointer;
}

.pixel:active {
    transform: translateY(5px);
}

.pixel::before {
    content: "";
    top: 10px;
    left: -10px;
    position: absolute;
    width: 170px;
    height: 20px;
    background-color: inherit;
    display: block;
    z-index: -1;
}

.pixel::after {
    content: "";
    top: 5px;
    left: -5px;
    position: absolute;
    width: 160px;
    height: 30px;
    background-color: inherit;
    display: block;
    z-index: -1;
}