.btn-grp{
    border-radius: 0 !important;
}
.titel_one--media{
    font-size: 34px;
}

@media (max-width: 550px) {
    .btn-grp{
        font-size: 12px !important;
        padding: 8px 5px !important;
    }
    .titel_one--media{
        font-size: 20px;
    }
}