.vis, .hid {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.795);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out
}

.vis {
    z-index: 2;
    opacity: 1;
}

.hid {
    opacity: 0;
    z-index: 0;
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

.tryagain {
    animation: blink 2s linear infinite;
}