.gamePlay {
    background-color: #141426;
    position: relative;
    display: block;
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 0;
    z-index: 0;
}

.row {
    display: flex;
}

